<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328832578420-fkougrkgd86gf6t0h2oknjtcm7rnv2hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328832578420-fkougrkgd86gf6t0h2oknjtcm7rnv2hc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>328832578420-caj5fb48f6bmlqmq1tj2gmd6gclqk65i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJhsx1PW0dvkRwdgFWzsfAY9LAVOFvyRc</string>
	<key>GCM_SENDER_ID</key>
	<string>328832578420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.amancity</string>
	<key>PROJECT_ID</key>
	<string>amancity-app</string>
	<key>STORAGE_BUCKET</key>
	<string>amancity-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328832578420:ios:f0c7eab2c857dc1243b221</string>
</dict>
</plist>